<html>
  <head>
    <title>DocumentDB: Globally Distributed API for MongoDB</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery-jvectormap-2.0.3.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    <header>
      <img src="img/docdblogo.png" height=22px/>
      <span>Globally Distributed API for MongoDB</span>
    </header>
    <div class="leftCol">
      <div class="mapcontainer">
        <div class="map" id="worldmap"></div>
      </div>
      <div class="writeRegion, linechart" id="Central US"></div>
    </div>
    <div class="rightCol">
      <!--<div class="readRegionsTable">-->
        <div class="linechart" id="East Asia"></div>
        <div class="linechart" id="South India"></div>
        <div class="linechart" id="West Europe"></div>
        <div class="linechart" id="Southeast Asia"></div>
      <!--</div>-->
    </div>
    <!--<div class="linechart" id="Japan West"></div>
    <div class="linechart" id="Brazil South"></div>
    <div class="linechart" id="Australia East"></div>
    <div class="linechart" id="West US"></div>
    <div class="linechart" id="East US"></div>
    <div class="linechart" id="East Asia"></div>-->
  </body>
  <scripts>

    <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-jvectormap-world-mill.js"></script>

    <script src="/js/latencychart.js"></script>
  </scripts>
</html>
